
<%# Cart/Saved Jobs Section %>
<div class="mt-4">
  <div class="flex justify-between mx-36">
    <div class="font-semibold text-3xl text-gray-300 z-20">Your Saved Jobs</div>
    <%= link_to "Sent Applications", applications_path(@applications), class: "rounded-md py-3 px-8 text-center font-semibold text-gray-100 bg-primary-orange z-20 hover:text-gray-600", data: { turbo_method: :get } %>
  </div>
  <div class="flex flex-row">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 w-3/4 pt-5 mx-auto">
  <% @bookmarks.each do |bookmark| %>
    <div class="flex flex-col place-content-between p-2 bg-yellow-100 rounded-lg h-[25vh]" style="color: rgb(4, 39, 62)">
      <div class="flex flex-row justify-between">
        <div class="text-sm"><%= bookmark.created_at.strftime("%b %d, %Y") %></div>
        <svg xmlns="http://www.w3.org/2000/svg"
             class="mr-1 cursor-pointer"
             height="16" width="15"
             viewBox="0 0 384 512"
             data-action="click->save#saveJob"
             data-controller="save"
             data-save-target="svg"
             data-job-id="<%= bookmark.job.id %>">
          <path fill="<%= current_user.bookmarks.pluck(:job_id).include?(bookmark.job.id) ? 'orange' : '#1f2937' %>"
                d="M0 48C0 21.5 21.5 0 48 0l0 48 0 393.4 130.1-92.9c8.3-6 19.6-6 27.9 0L336 441.4 336 48 48 48 48 0 336 0c26.5 0 48 21.5 48 48l0 440c0 9-5 17.2-13 21.3s-17.6 3.4-24.9-1.8L192 397.5 37.9 507.5c-7.3 5.2-16.9 5.9-24.9 1.8S0 497 0 488L0 48z"/>
        </svg>
      </div>
      <div>
        <div class="text-xs text-gray-600"><%= bookmark.job.company_name %></div>
        <div class=""><%= bookmark.job.title %></div>
      </div>
      <div class="flex flex-row justify-between">
        <div>
          <div class="text-xs">$<%= bookmark.job.price %> /mo</div>
          <div class="text-xs"><%= bookmark.job.location %></div>
        </div>
        <button class="px-2 rounded-2xl text-xs text-gray-300 hover:text-primary-orange" style="background-color: rgb(4, 39, 62)">
          <%= link_to "Details", job_path(bookmark.job), data: { turbo_method: :get } %>
        </button>
      </div>
    </div>
  <% end %>
</div>
  </div>
</div>
