
<div class="flex flex-row my-4 w-full justify-between">
  <div class="flex flex-col p-4 text-white w-1/2">
    <h1 class="text-2xl mb-5 pb-2 border-b-2 border-primary-orange w-3/4 text-center mx-auto">Your posted jobs</h1>
    <% if @jobs.any? %>
      <ul class="space-y-4 mx-auto">
        <% @jobs.each do |job| %>
          <div class="flex flex-row justify-between space-x-12">
            <li><%= job.title %> </li>
            <div class="flex flex-row gap-4">
              <%= link_to edit_job_path(job), class: "h-5" do %>
                <%= image_tag "pencil_icon.svg", data: { turbo_method: :patch }, size: "20x20", alt: "Pencil Icon" %>
              <% end %>
              <%= link_to job_path(job), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "h-5" do %>
                <%= image_tag "trash_icon.svg", size: "18x18", alt: "Trash Icon" %>
              <% end %>
            </div>
          </div>
        <% end %>
      </ul>
    <% else %>
      <p>You have not created any jobs yet.</p>
    <% end %>
  </div>

  <div class="flex flex-col p-4 text-white w-1/2 ">
    <h1 class="text-2xl mb-5 pb-2 border-b-2 border-primary-orange w-3/4 text-center mx-auto">Received applications</h1>
    <% if @applications.any? %>
    <ul>
      <% @applications.each do |application| %>
      <div class="px-2 py-1 rounded-lg border border-white w-3/4 mb-2 mx-auto">
        <li><%= application.job.title %></li>
        <div class="text-xs mb-2 font-light">Applied on: <%= application.created_at.strftime("%b %d, %Y") %></div>
        <li>Applicant name: <%= application.job.user.name %></li>
        <li>Applicant email: <%= application.job.user.email %></li>
        <div class="text-xs mt-2 font-light text-primary-orange">Download:</div>
       <div class="flex justify-between text-sm">
          <% if application.resume.present? %>
            <div>
              <%= link_to 'Resume', url_for(application.resume), download: application.resume.filename.to_s, class:"hover:text-primary-orange" %>
            </div>
          <% end %>
          <% if application.cover_letter.present? %>
            <div>
              <%= link_to 'Cover Letter', url_for(application.cover_letter), download: application.cover_letter.filename.to_s, class:"hover:text-primary-orange mr-20" %>
            </div>
          <% end %>
        </div>
        <% if application.personal_message.present? %>
        <div class="text-xs mt-2 font-light text-primary-orange">Personal message:</div>
          <div class="text-sm"><%= application.personal_message %></div>
        <% end %>
      </div>
      <% end %>
    </ul>
      <% else %>
      <p>You have not received any applications</p>
      <% end %>
  </div>
</div>
