  <div class="grid grid-cols-2 md:grid-cols-3 gap-4 w-3/5 pt-5">
      <% @jobs.each do |job| %>
        <div class="">
          <div class="text-sm"><%= job.created_at.strftime("%b %d, %Y") %></div>
          <div class="text-xs"><%= job.company_name %></div>
          <div class="my-2"><%= job.title %></div>
          <div class="text-xs"><%= job.price %> /mo</div>
          <div class="text-xs"><%= job.location %></div>
        </div>
      <% end %>
      <div>
          <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg" alt="">
      </div>
      <div>
          <img class="h-auto max-w-full rounded-lg" src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg" alt="">
      </div>
  </div>
