<div class="flex items-center justify-center p-12">
  <div class="mx-auto w-2/5">
    <%= form_with(model: Job.new, url: jobs_path, method: "post") do |form| %>
      <div class="-mx-3 flex flex-wrap">
        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <%= form.label :title, "Job Title", class: "mb-3 block text-base font-medium text-gray-300" %>
            <%= form.text_field :title, placeholder: "Job Title", class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" %>
          </div>
        </div>
        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <%= form.label :company_name, "Company Name", class: "mb-3 block text-base font-medium text-gray-300" %>
            <%= form.text_field :company_name, placeholder: "Company Name", class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" %>
          </div>
        </div>
      </div>

      <div class="mb-5">
        <%= form.label :description, "Detailed job description", class: "mb-3 block text-base font-medium text-gray-300" %>
        <%= form.text_area :description, placeholder: "Enter details about the job", class: "w-full appearance-none rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" %>
      </div>

      <div class="-mx-3 flex flex-wrap">
        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <%= form.label :start_date, "Start Date", class: "mb-3 block text-base font-medium text-gray-300" %>
            <%= form.date_field :start_date, class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" %>
          </div>
        </div>
        <div class="w-full px-3 sm:w-1/2">
          <div class="mb-5">
            <%= form.label :end_date, "End Date", class: "mb-3 block text-base font-medium text-gray-300" %>
            <%= form.date_field :end_date, class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" %>
          </div>
        </div>
      </div>

      <div class="mb-5">
        <%= form.label :price, "Price per month or job", class: "mb-3 block text-base font-medium text-gray-300" %>
        <%= form.text_field :price, class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md", placeholder:"$" %>
      </div>

      <div class="mb-5">
        <%= form.label :location, "Location", class: "mb-3 block text-base font-medium text-gray-300" %>
        <%= form.text_field :location, class: "w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" %>
      </div>

      <div class="mb-5">
        <%= form.label :time_commitment, "Time commitment", class: "mb-3 block text-base font-medium text-gray-300" %>
        <div class="flex items-center space-x-6">
          <div class="flex items-center">
            <%= form.radio_button :time_commitment, "full-time", id: "radioButton1", class: "h-5 w-5" %>
            <%= form.label :time_commitment, "Full-time", for: "radioButton1", class: "pl-3 text-base font-medium text-gray-300" %>
          </div>
          <div class="flex items-center">
            <%= form.radio_button :time_commitment, "part-time", id: "radioButton2", class: "h-5 w-5" %>
            <%= form.label :time_commitment, "Part-time", for: "radioButton2", class: "pl-3 text-base font-medium text-gray-300" %>
          </div>
        </div>
      </div>

      <button class= "rounded-md py-3 px-8 text-center font-semibold text-gray-100 bg-primary-orange w-full">
        <%= form.submit "Submit", class:"hover:cursor-pointer" %>
        <%= form.hidden_field :user_id, value: current_user.id %>
      </button>
    <% end %>
  </div>
</div>
