<div class="flex absolute justify-end w-full mt-10 pr-20">
  <button class="p-2 rounded-lg mx-2 text-gray-300 border border-primary-orange hover:bg-primary-orange ease-in-out duration-300 ">
    <%= link_to "Edit Profile", edit_user_registration_path, data: { turbo_method: :get }  %>
  </button>
</div>

<div class="flex flex-col items-center justify-center text-white mx-auto mt-6 p-6 w-1/2 space-y-4 ">
  <div class="flex items-center justify-center border-gray-300 hover:border-primary-orange border-2 rounded-full p-2 w-28 h-28">
    <% if @user.photo.attached? %>
      <%= image_tag @user.photo, class: "w-full h-full object-cover rounded-full" %>
    <% else %>
      <svg xmlns="http://www.w3.org/2000/svg" height="28" width="28" viewBox="0 0 448 512">
        <path fill="#d1d5db" d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464l349.5 0c-8.9-63.3-63.3-112-129-112l-91.4 0c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304l91.4 0C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7L29.7 512C13.3 512 0 498.7 0 482.3z"/>
      </svg>
    <% end %>
  </div>

  <div class="text-xl font-semibold"><%= @user.name %></div>
  <div><%= @user.email %></div>
  <div><%= @user.location %></div>


  <div class="flex flex-row">
    <button class="relative p-2 rounded-lg mx-2 text-gray-300 border border-primary-orange hover:bg-primary-orange ease-in-out duration-300">
      <span class="absolute -top-3 -right-3 flex h-3 w-3 mt-2 mr-2">
        <span class="animate-ping absolute inline-flex h-full w-full rounded-full bg-primary-orange opacity-75"></span>
        <span class="relative inline-flex rounded-full h-3 w-3 bg-primary-orange"></span>
      </span>
      <%= link_to "Saved Jobs", bookmarks_path, data: { turbo_method: :get}  %>
    </button>
    <button class="p-2 rounded-lg mx-2 text-gray-300 border border-primary-orange hover:bg-primary-orange ease-in-out duration-300 ">
         <%= link_to "Posted Jobs", created_jobs_path, data: { turbo_method: :get } %>
    </button>
  </div>
</div>
