<div class="flex flex-col w-1/2 text-white">
  <% if @applications.any? %>
    <% @applications.each do |application| %>
      <% if application.applied_to? && user_signed_in? %>
        <div>
          <% if application.job.present? %>
            <div>Job ID: <%= application.job.id %></div>
            <div>Job Title: <%= application.job.title %></div>
          <% else %>
            <div>Job information not available</div>
          <% end %>

          <% if application.user.present? %>
            <div>User ID: <%= application.user.id %></div>
            <div>User Name: <%= application.user.name %></div>
          <% else %>
            <div>User information not available</div>
          <% end %>

          <% if application.resume.present? %>
            <div>
              <%= link_to 'Download Resume', url_for(application.resume), download: application.resume.filename.to_s %>
            </div>
          <% else %>
            <div>Resume not available</div>
          <% end %>

          <% if application.cover_letter.present? %>
            <div>
              <%= link_to 'Download Cover Letter', url_for(application.cover_letter), download: application.cover_letter.filename.to_s %>
            </div>
          <% else %>
            <div>Cover letter not available</div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>No sent applications to show, <%= link_to "Browse", jobs_path, data: { turbo_method: :get }, class: "hover:text-primary-orange" %> jobs to find your next experience opportunity!</p>
  <% end %>
</div>
