<%# Hero %>
<section>
    <div class="py-8 px-4 mx-auto max-w-screen-xl text-center mt-28">
        <h1 class="gradient-text mb-4 font-extrabold tracking-tight leading-none text-7xl">It’s time to level up</h1>

        <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl px-60">Its impossible to find a job without experience. It's impossible to get experience without a job.<br> We're here to help you break into the industry.</p>
        <div class="flex flex-row space-x-4 sm:flex-row sm:justify-center sm:space-y-0">
          <%= render 'shared/button_animated', href: new_user_session_path, text: 'Get Started' %>
          <%= render 'shared/button_animated', href: about_path, text: 'Learn More' %>
        </div>
    </div>
</section>
<%# Steps %>


<section>
  <div class="mb-40 mx-10">
    <div class="flex flex-col w-full">
        <%# Step 1 %>
        <div class="flex flex-row items-center">
          <div class="radial-bg w-3/5 h-[600px] flex items-center justify-center">
            <%#= image_tag("Atom_Sphere_1__L.png", class: "h-[400px] rotate-[30deg]", alt: "Arrow Up") %>
            <%= render "shared/letterize" %>
          </div>
          <div class="w-1/2">
            <h1 class="text-4xl text-center font-special text-primary-orange">Browse through hundreds of professional experiences</h1>
          </div>
        </div>
        <%# Step 2 %>
        <div class="flex flex-row items-center">
          <div class="w-1/2">
            <h1 class="text-4xl text-center font-special text-primary-orange">Apply to the top experiences to impulse your career</h1>
          </div>
          <div class="radial-bg w-3/5 h-[500px] flex items-center justify-center">
             <%= image_tag("Arrow_Up_L.png", class: "h-[340px] ", alt: "Arrow Up") %>
          </div>
        </div>
        <%# Step 3 %>
        <div class="flex w-2/3 items-center mx-auto mt-20">
          <h1 class="text-4xl text-center font-special text-primary-orange ">Level yourself up and break into the industry</h1>
        </div>
    </div>
  </div>
</section>


<%= render "shared/footer" %>
